.cell {
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid grey;
}

.snake {
    background: grey;
}

.snakeRhumb {
    width: 50%;
    height: 50%;
    background-color: #fff;
    transform: rotate(67.5deg) skewX(45deg) scaleY(0.7);
}

.empty {
    background: #d5ecac;
}

.food {
    background: #d5ecac;
}

.coin {
    height: 90%;
    width: 90%;
    background-color: rgba(246, 136, 7, 0.95);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}